<html>
<head>
<title>Hello, Rails!</title>
</head>
<body>
<h1>Hello from Rails!</h1>

<ul>
<li>Addition: <%= 1+2 %> </li>
<li>Concatenation: <%= "cow" + "boy" %> </li>
<li>Time in one hour: <%= 1.hour.from_now %> </li>
</ul>
电子邮件:<%= h(" yang.jiandong<young.jiandong@gmail.com>") %>
<p>
It is now <%= @time %>
</p>
<p>
Time to sya
<%= link_to "Goodbye!", :action=>"goodbye" %>
</p>

</body>
</html>