<h1>商品目录</h1>

<% for product in @products %>
    <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%=h product.title %></h3>
    <%= product.description %>
    <div class="price-line">
    <span class="price"><%= number_to_currency(product.price,
                                                :unit => "&pound;",
                                                :separator => ",",
                                                :delimiter => "") %>
                                            </span>
    <% form_tag url_for ( :action => 'add_to_cart'), :id => product, :remote=>true  do %>
        <%= submit_tag "Add to Cart" %>
    <% end %>
    <!--
    <%= button_to "放入购物车", :action => 'add_to_cart', :id => product %>
    -->
    </div>
    </div>
<% end %>